.search_main{
background-color: rgb(252,220,153);
    border-radius: 2%;
    margin-bottom: 1em;
}
.search_main_item{
    padding: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.label{
    height: 25px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left:4px ;
    font-family: Arial,Helvetica,sans-serif;
}
.custom-select.fixed{
    width: 10rem;
    font-size: 14px;
}
.hero__search__phone {
    float: right;
}



